@import 'utilities/variables/fonts';
@import 'utilities/variables/colors';

@mixin title-1 {
  font: {
    size: $font-size-large;
    family: $font-family-title;
  }
  color: $color-black;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

@mixin title-2 {

}
